*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted blue;
}
span{
    color: white;
}
div{
    background-color: black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
body{
    width: 100%;
    height: 100%;
}
main{
    position: relative;
    padding: 10rem;
    background-image: url(/medias/image\ copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%; 
}
.ic3{
    position: absolute;
    top: 0; right: 0;
}
.ic2{
    position: absolute;
    top: 50%; right: -2.5rem;
}
.ic1{
    position: absolute;
    top: 50%; left: -2.5rem;
}